<!DOCTYPE html>
<html>
<head>
  <title>PleskKit</title>
  <%= stylesheet_link_tag    "plesk_kit/application", :media => "all" %>
  <%= javascript_include_tag "plesk_kit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
